{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 8"]
      }
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["transform-object-rest-spread", {"useBuiltIns": true}],
    ["transform-class-properties", { "spec": true }],
    ["transform-object-assign"],
    ["transform-es2015-arrow-functions"],
    ["transform-runtime"],
    [ "react-hot-loader/babel" ],
    ["transform-runtime", {"regenerator": true}]
  ]
}